@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-scrollbar-bg: #091629;
    --color-scrollbar-thumb: #475569;
    --color-bg-primary: 11, 27, 51;
    --color-bg-secondary: 17, 34, 64;
    --color-text-primary: 136, 146, 176;
    --color-text-secondary: 204, 214, 246;
    --color-text-tertiary: 168, 178, 209;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-bg);
  }

  body {
    background-color: var(--color-scrollbar-bg);
  }

  #__next {
    @apply min-h-screen bg-skin-primary;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-scrollbar-bg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border: 2px solid var(--color-scrollbar-bg);
    border-radius: 10px;
  }
}
