@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navy: #0b1b33;
    --navy-dark: #091629;
    --slate: #495670;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--slate) var(--navy-dark);
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--navy-dark);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--slate);
    border: 2px solid var(--navy-dark);
    border-radius: 10px;
  }

  #__next {
    min-height: 100vh;
    background-color: var(--navy);
  }
}
